[include]
	path = .gitconfig.local

[credential]
	helper = cache

[gui]
	encoding = utf-8

[core]
	quotepath = false
	autocrlf = input
	attributesfile = ~/.gitattributes
	excludesfile = ~/.gitignore_global
	# --no-init: lessを終了しても表示し続ける
	pager = less --no-init --quit-if-one-screen --raw-control-chars  --tabs=4

[alias]
	# ls-files: gitで管理中のファイル一覧を表示する
	ls		= ls-files
	ll		= ls-files

	# --branch (-b): ブランチ情報も表示
	# --short (-s): 圧縮
	# --untracked-files=all (-u): un trackファイルをどうするか？ all: すべて表示（デフォルト）
	# 短縮:  status -bsu
	st		= status --branch --short --untracked-files=all
	# --ignored: 除外ファイルを表示
	si		= status --branch --short --untracked-files=all --ignored

	# add all
	aa		= !git add .  && git add --update && git st
	au		= !git add --update && git st

	# show（Merge commit対応）
	sw		= "!f() { git show $1 --stat; git diff $1^..$1; }; f"

	# --verbose(-v): 編集画面にdiffを表示
	cm		= commit --verbose
	# 前のコミットに追加してコメントもそのまま
	cma		= commit --amend --no-edit
	# 前のコミットに追加してコメントもそのまま & commit時刻を現在に変更
	cmad	= !git cma --date=\"`date -R`\"

	cho		= checkout

	# --verbose --verbose (-vv): 対応するremoteブランチ（upstream）を表示
	b		= branch --verbose --verbose
	ba		= branch --verbose --verbose --all
	bc		= ! git branch --verbose --sort=committerdate | tail
	bb		= bc

	re		= remote --verbose

	mgnff	= merge --no-ff --no-edit
	ma		= merge --abort
	mc		= merge --continue

	reai	= rebase --autosquash -i
	ra		= rebase --abort
	rc		= rebase --continue
	rs		= rebase --skip
	reiw 	= rebase --ignore-whitespace

	cp		= cherry-pick

	cl		= clone

	fe		= fetch
	ps		= push
	psf		= push --force-with-lease --force-if-includes
	pl		= pull
	plp		= pull --prune
	plr		= pull --rebase

	ss		= stash save
	sp		= stash pop
	sl		= stash list

	# --ignore-all-space (-w): 空白を無視
	# --color-words: 単語単位で比較
	di		= diff --ignore-all-space --color-words
	df		= diff --ignore-all-space --color-words
	dc		= diff --ignore-all-space --color-words --cached
	dic		= diff --ignore-all-space --color-words --cached

	dino	= diff --name-only
	# diff last
	dl		= diff --ignore-all-space --color-words HEAD^
	dlh		= diff --ignore-all-space --color-words HEAD^ HEAD
	dlno	= diff --name-only HEAD^
	dlhno	= diff --name-only HEAD^ HEAD
	# 文字単位で差分表示 (diff word-diff-regexp)
	diw		= diff --ignore-all-space --color-words --word-diff-regex=[^-¿][-¿]*
	dicw	= diff --ignore-all-space --color-words --word-diff-regex=[^-¿][-¿]* --cached
	dlw		= diff --ignore-all-space --color-words --word-diff-regex=[^-¿][-¿]* HEAD^
	dlhw	= diff --ignore-all-space --color-words --word-diff-regex=[^-¿][-¿]* HEAD^ HEAD

	# histogram: ?
	dh		= diff --ignore-all-space --color-words --histogram

	graph	= log --graph --decorate=full
	g		= log --graph --date=format-local:'%Y/%m/%d(%a) %H:%M' --format=\"%C(yellow)%h%C(reset) %C(magenta)[%ad] [%cd]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)\"
	# reflog
	r		= log -g      --date=format-local:'%Y/%m/%d(%a) %H:%M' --format=\"%C(yellow)%h%C(reset) %C(magenta)[%ad] [%cd]%C(reset)%C(auto)%d%C(reset) %s %C(cyan)@%an%C(reset)\"
	# git log all branch
	ga		= !"git g --all"
	# git log original + merge commit
	gf		= !"git g --first-parent"
	# git log original only
	go		= !"git g --first-parent --no-merges"
	# master branchとの差
	gm		= !"git g master.."
	# 最新9件 (gl: log latest)
	gl		= !"git g -9"

	# reset
	rt		= reset
	rr		= restore

	# tag-with-message
	# -n<num>: <num>行までコメントを表示する
	twm		= tag --list -n9

	# worktree
	wl		= worktree list

[push]
	default = simple
	autoSetupRemote = true

[pull]
	ff = only

[color "branch"]
	# git branch -vvした時のupstreamの色を見づらい青からシアンに変更
	upstream = cyan

[diff]
	renames = true
	compactionHeuristic = true

[diff "scala"]
	xfuncname = "^\\s*(.*(def|object|class|trait) .*)$"

[diff "markdown"]
	xfuncname = "^#+.*$"

[diff "message"]
	wordRegex = "[^, =]+"

# 日本語文章をdiffする時など用（※少し重くなる）
#[pager]
#	log = diff-highlight | less
#	show = diff-highlight | less
#	diff = diff-highlight | less

[tag]
	sort = version:refname
[commit]
	template = ~/.gitmessage.txt

[rebase]
	autostash = true
	abbreviateCommands = true
[rerere]
	enabled = true
